$default-family: 'Open Sans', sans-serif;
$default-font-size: 15px;
$primary: #c44d77;

$java: #007396;
$python: #0faed6;
$nodejs: #50b842;
$spring: #6DB33F;
$django: #3f79b3;
$expressjs: #4FC08D;
$mysql: #FF6F00;
$mongodb: #ffd900;

$js: #eb8602;
$reactjs: #3d8abd;
$vuejs: #4FC08D;
$angular: #00D1B2;
$typescript: #3178C6;
$bootstrap: #7952B3;

$jira: #D9411E;
$confluence: #D9411E;
$cicd: #FF6F00;
$docker: #2496ED;
$jenkins: #a21386;

@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");